In [1]:
import pandas as pd
import os
import sys
import numpy as np
#import helper
#import dataset_path
#from helpers import *
from sklearn.impute import SimpleImputer

read_file = pd.read_excel ("../Data/CO Dataset/Data reposiroty.xlsx")
read_file.to_csv ("DataRepo.csv", 
                  index = None,
                  header=True)
    
Main_df = pd.DataFrame(pd.read_csv("DataRepo.csv"))
DataFrame2 = Main_df.drop([
'Ramp_protocol CPET',
'Eziologia',
'VO2_AT',
'VO2_AT_Kg',
'VO2_peak',
'VO2_peak_Kg',
'VO2_peak_perc','NYHA','PetCO2 @ AT','iRamp_protocol INNOCOR'], axis="columns")
#Data = Main_df.drop(['Antialdo','AT'],axis='columns')

DataFrame2.head(171)

,ID,Age,Gender,Weight,Height,BMI,Causa interruzione test,Lenght,AT,HR_AT,...,Antialdo,Digitalis,Unnamed: 77,FEV1,FEV1%,FVC,FVC%,Unnamed: 82,Unnamed: 83,Unnamed: 84
0,ID01,48,1,64,167,22.948116,0,8.833333,1,92.0,...,0.0,0.0,NaN,3.15,94.0,4.06,99.0,NaN,NaN,NaN
1,ID02,55,1,79,178,24.933720,0,5.800000,1,77.0,...,0.0,0.0,NaN,1.84,51.0,2.97,66.0,NaN,NaN,NaN
2,ID03,63,1,90,172,30.421850,0,7.700000,1,98.0,...,0.0,0.0,NaN,2.12,79.0,2.97,83.0,NaN,NaN,NaN
3,ID04,56,1,82,167,29.402273,0,10.600000,0,NaN,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID05,75,1,74,171,25.306932,0,6.875000,1,75.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,ID166,75,1,85,176,27.440599,1,8.866667,1,96.0,...,1.0,0.0,NaN,2.95,102.0,3.59,93.0,NaN,NaN,NaN
166,ID167,76,1,65,175,21.224490,1,8.375000,1,77.0,...,0.0,0.0,NaN,2.03,74.0,2.22,61.0,NaN,NaN,NaN
167,ID168,59,0,93,167,33.346481,1,10.625000,1,81.0,...,1.0,0.0,NaN,2.09,83.0,2.69,90.0,NaN,NaN,NaN
168,ID169,75,1,79,178,24.933720,1,8.875000,1,74.0,...,1.0,0.0,NaN,2.42,81.0,2.78,70.0,NaN,NaN,NaN
169,ID170,70,1,65,163,24.464602,1,10.500000,1,101.0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
DataFrame2.sum()

C:\Users\Kamila H\AppData\Local\Temp\ipykernel_37880\1987430615.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  DataFrame2.sum()

ID             ID01ID02ID03ID04ID05ID06ID07ID08ID09ID10ID11ID...
Age                                                        11048
Gender                                                       146
Weight                                                     13209
Height                                                     29129
                                     ...
FEV1%                                                     8941.0
FVC                                                       344.82
FVC%                                                      9527.0
Unnamed: 82                                                  0.0
Unnamed: 83                                                  0.0
Length: 74, dtype: object

In [5]:
hr_vec2 = np.array(DataFrame2["HR_perc_pred"])
sv = np.array(DataFrame2["SV picco"])
#print(sys)
#PP = np.array(sys - dias)
InputData2 = [hr_vec2,sv]
InputDataframe2 = pd.DataFrame(InputData2)
InputDataframe2=InputDataframe2.T
InputDataframe2.columns = ['HR','SV']
#DataTransposed.head()
InputDataframe2.to_csv('../Data/Input170.csv')

#Cardiac Output Estimation 
EstCO2 = []
for i in range(0,len(hr_vec2),1):
    tco = hr_vec2[i]*sv[i]*0.001
    EstCO2.append(tco)

#print("Estimated CO",EstCO)
DataF_CO2=pd.DataFrame(EstCO2)
DataF_CO2.columns = ['CO_est']
DataF_CO2.head(170)
DataF_CO2.to_csv('../Data/CO_170.csv')

In [8]:
from sklearn.metrics import accuracy_score
from statistics import pstdev
import statistics
import matplotlib.pyplot as plt
real_co = np.array(DataFrame2["CO picco"])
plt.scatter(real_co,EstCO2, alpha=0.5, cmap='viridis')
plt.colorbar()

KeyError: 'CO picco'